<form method="post" action="/questions">
  <input name="question[title]" type="text" placeholder="Title">
  <textarea name="question[body]" type="text" placeholder="Summary"></textarea>
  <input type="submit" value="(Y)ask away!">
</form>
