.carrot img{
	width:30px;
	height:30px;
	opacity:1.0;
}

.carrot {
	text-decoration: none;
	border:none;
	background:transparent;
	padding:0px;
	margin:0px;
}

.question_author {

}

.vote_buttons {

}