h1 {
    font-family: 'Montserrat', sans-serif;
    margin: 50px
}

#title{
width: 75%;
  position: relative;
  height: 35px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
  margin-bottom: -1px;
  margin-top: 10px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  max-width: 330px;
  padding: 15px;

}

#summary {
  margin-top: 10px;
  height :175px;
  min-width: 25%;
}

#question {
  margin: 50px;
}

