li {
  display:inline;
  top: 0;
  margin:1%;
  }

#username {
  font-size: 12px;
  color: gray;
  position: relative;
  float: right;
}

.questions {
  width: 65%;
}

.info {
  background-color: #CCC;
  padding: 1.25%;
  margin-top:5.5%;
  color:#2D9DFF;
}

.title {
  margin-top:2.5%;
/*  margin-bottom: 2.5%*/
  display:inline;
/*  width:25px;*/
}