<form method="post" action="/users/new">
  <input name="user[username]" type="text" placeholder="Username">
  <input name="user[hashed_password]" type="text" placeholder="Password">
  <input name="user[email]" type="text" placeholder="Email">
  <input name="user[profile_pic]" type="text" placeholder="Picture URL">
  <input type="submit" value="Register">
</form>
