<h1><%= current_user.username %></h1>
<% if @questions.length > 0 %>
  <p>Questions asked:</p>
  <% @questions.each do |q| %>
  <%= erb :"partials/_show_question", locals: {question: q} %>
  <% end %>
<% else %>
  <p> Get y'askin </p>
<% end %>

<% if @answers.length > 0 %>
 <p>Questions answered:</p>
  <% @answers.each do |a| %>
  <p><a href="/questions/<%= a.question.id %>"><%= a.body %></a></p>
  <% end %>
<% else %>
  <p> Get y'answerin </p>
<% end %>

