<html>
<head>
  <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Montserrat|PT+Sans+Caption|Chewy' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/css/splash.css">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>
  <title>yakOverflow</title>
</head>

<body>
  <h1>
    <a href="/questions" id="logo"><span>yak</span>Overflow</a>
  </h1>
</body>

</html>

