<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/css/normalize.css">

  <link rel="stylesheet" href="/css/application.css">


  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title>yakOverflow</title>
</head>
<body>
  <div class="nav">
    <ul>
      <% if session[:user_id] %>
        <li><a href="/questions">home</a>
        <li><a href="/users/<%= session[:user_id] %>">profile</a></li>
        <li><a href="/logout">logout</a></li>
        <li><a href="/questions/new">y'ask a question</a></li>
      <% else %>
        <li><a href="/questions">home</a>
        <li><a href="/login">login</a></li>
        <li><a href="/users/new">sign up</a></li>
      <% end %>
      <li><a href="#" id="search-text">search</a></li>
      <li id="search-form">
          <form id="search" method="get" action="/questions">
            <input type="text" name="search" placeholder="Search">
            <input type="submit" value="Search">
          </form>
      </li>
    </ul>
  </div>
  <%= yield %>
</body>
</html>
