
    <link rel="icon" href="../../favicon.ico">

    <title>yakOverflow</title>

    <link href="/css/login.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

  </head>
  <body>
    <div class="container">

      <form class="form-signin" method="post" action="/login">
        <h2 class="form-signin-heading">Login</h2>
        <label for="inputEmail" class="sr-only"></label>
        <input name="username" type="username" id="inputEmail" class="form-control" placeholder="Username" required autofocus>
        <label for="inputPassword" class="sr-only"></label>
        <input name="password" type="password" id="inputPassword" class="form-control" placeholder="Password" required><br>
        <input  class="button" type="submit" value="Time to Yak">
      </form>

    </div>


  </body>
</html>
